{
  "parser": "babel-eslint",
  "extends": "eslint:recommended",
  "rules": {
    "comma-dangle": 0,
    "no-unused-vars": [1, {"vars": "all", "args": "none"}],
    "no-console": 1,
    "no-var": 2,
    "no-debugger": 1,
    "indent": [1, 2, {"SwitchCase": 1}],
    "max-len": [1, 80, 2],
    "prefer-const": 1,
    "semi": [1, "always"],
    "no-fallthrough": 1
  },
  "settings": {
    "import/parser": "babel-eslint"
  },
  "env": {
    "node": true
  }
}
